{%extends 'root/base.html'%}
{%load static %}
<!-- Page Header-->
{%block header%}<header class="masthead" style="background-image: url({%if article.thumb %} {{article.thumb.url}} {%else%} {%static 'assets/img/home-bg.jpg'%}{%endif%})">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="post-heading">
                            <h1>{{article.title}}</h1>

                            <h2 class="subheading">{{article.subtitle}}</h2>
                            <span class="meta">
                                Posted on {{article.date}}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </header>{%endblock%}
<!-- Post Content-->
{%block content%}<article class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <p>{{article.body}}</p>
                    </div>
                </div>
            </div>
        </article>{%endblock%}
